04 - Automatización mcp-n8n-claude para Analisis de Facturas/Tool - Analizar Factura (1).json
{
  "name": "Tool - Analizar Factura",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        80
      ],
      "id": "ba6fd0df-fed5-4058-a39d-920b59e94d91",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "factura.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        416,
        80
      ],
      "id": "8ad7cc51-419f-45b9-a294-3d1e499246dd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analiza el siguiente texto extraído de una factura y extrae todos los datos estructurados:  {{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Eres un experto en análisis de facturas y documentos contables.  Tu tarea es extraer datos estructurados de facturas.  SIEMPRE responde en formato JSON válido con esta estructura exacta: {   \"proveedor\": \"nombre del proveedor o empresa emisora\",   \"numero_factura\": \"número o código de la factura\",   \"fecha\": \"YYYY-MM-DD\",   \"items\": [     {\"descripcion\": \"...\", \"cantidad\": 0, \"precio_unitario\": 0, \"subtotal\": 0}   ],   \"subtotal\": 0,   \"impuestos\": 0,   \"total\": 0,   \"moneda\": \"COP o USD o EUR\",   \"notas\": \"cualquier observación relevante\" }  Si algún campo no está claro en el documento, usa \"No especificado\" para texto o 0 para números. Responde SOLO con el JSON, sin texto adicional."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        80
      ],
      "id": "296f2e18-67ef-453d-9c46-458f01d1a119",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        688,
        272
      ],
      "id": "4e9cd4ad-3db1-4229-aebe-788cdd8a64a6",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "JtgnEJyqAFv2Wey3",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4011d9a-1d15-4676-baff-ee17343da191",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        80
      ],
      "id": "a9a05b71-b12c-45c2-b19f-e8790ed232a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.query }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "factura.pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        80
      ],
      "id": "484635f1-11fa-4c68-96b7-46d6b720871d",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "16ba1852-4671-4f55-a63d-7316b1324e71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df3817e93dd9857866803348ccedc559e6131a9b0a110618d997e713531c8018"
  },
  "id": "KcpeFEZS8zeCDkIZ",
  "tags": []
}